snippet html
    <!doctype html>
    <meta charset="utf-8" />
    <title>${1}</title>

snippet script
    <script src="${1}"></script>

snippet link
    <link href="${1}" rel="stylesheet" />

snippet div
    <div class="${1}">${2}</div>

snippet span
    <span class="${1}">${2}</span>

snippet input
    <input type="${1:text}" ${2}/>
