
# console
snippet cl
    console.log(${1:arguments});

snippet fr
    function(${1:val}) { return ${2}; }

# testing
snippet db
    describe('${1:title}', function() {

        ${2}

    });

snippet be
    beforeEach(function() {
        ${1}
    });

snippet it
    it('${1:should work}', function() {
        ${2}
    });

snippet ex
    expect( ${1} ).to.eql( ${2} );
