
# console
snippet cl
    console.log(${1:arguments});${2}

snippet fr
    function(${1:val}) { return ${2}; }${3}

# testing
snippet db
    describe('${1:title}', function() {

        it('${2:should work}', function() {
            ${3}
        });${4}

    });${5}

snippet be
    beforeEach(function() {
        ${1}
    });

snippet it
    it('${1:should work}', function() {
        ${2}
    });${3}

snippet ex
    expect( ${1} ).to.eql( ${2} );${3}
